body{
  margin: 0;
  background-image: url(bg-image2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#clock-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock{
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  text-align: center;
  color: aliceblue;
  backdrop-filter: blur(20px);
  width: 100%;
}