body{
  background-color: #f0f8ff; /* light background to make the box pop */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(162, 168, 168);
  max-width: 500px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
}

#title{
  margin-top: 20px;
  font-size: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

#main-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 300px;
  background-color: rgb(100, 141, 196);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}

#display{
  font-weight: bold;
  font-size: 3.4rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: monospace;
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
}

#row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

#row button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

#start {
  background-color: rgb(16, 150, 105);
}
#start:hover {
  background-color: rgb(29, 161, 117);
}

#stop {
  background-color: rgb(150, 16, 36);
}
#stop:hover {
  background-color: rgb(181, 69, 95);
}

#reset {
  background-color: rgb(139, 16, 150);
}
#reset:hover {
  background-color: rgb(148, 58, 129);
}

